In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sys, os
this_path = '/home/ibi/Documents/GitHub/mas291-project/'
sys.path.append(this_path)
os.chdir(this_path)
print(os.getcwd())

/home/ibi/Documents/GitHub/mas291-project

In [2]:
new_york_sold = pd.read_csv('data/cleaned/new_york_sold_cleaned.csv')
new_york_sold.head()

,data_source,id,post_link,list_date,sold_date,days_until_sold,price,address,status,area,bedrooms,bathrooms,latitude,longitude,community_area
0,https://www.realtor.com/,4136891435,https://www.realtor.com/realestateandhomes-det...,2023-09-07,2024-07-03,300.0,1500000.0,"1273 E 10Th St, Brooklyn, Ny 11230",SOLD,2015.0,4.0,1.5,40.618168,-73.964649,312
1,https://www.realtor.com/,3476436735,https://www.realtor.com/realestateandhomes-det...,2024-04-05,2024-07-03,89.0,549999.0,"274 Dixon Ave, Staten Island, Ny 10303",SOLD,1205.0,3.0,1.5,40.628432,-74.151338,501
2,https://www.realtor.com/,4877937449,https://www.realtor.com/realestateandhomes-det...,2023-09-20,2024-07-03,287.0,559000.0,"132 Elm St, Staten Island, Ny 10310",SOLD,1292.0,4.0,2.0,40.638510,-74.114339,501
3,https://www.realtor.com/,4669261316,https://www.realtor.com/realestateandhomes-det...,2023-08-09,2024-07-03,329.0,1099000.0,"1714 E 29Th St, Brooklyn, Ny 11229",SOLD,1660.0,3.0,2.5,40.609290,-73.944877,315
4,https://www.realtor.com/,4395237841,https://www.realtor.com/realestateandhomes-det...,2023-07-27,2024-07-03,342.0,789000.0,"1445 E 69Th St, Brooklyn, Ny 11234",SOLD,1836.0,3.0,1.0,40.621332,-73.911186,318

In [5]:
new_york_sold.describe()

,id,days_until_sold,price,area,bedrooms,bathrooms,latitude,longitude,community_area
count,2.819300e+04,28193.000000,2.819300e+04,28193.000000,28193.000000,28193.000000,28193.000000,28193.000000,28193.000000
mean,4.150288e+09,271.991523,7.786942e+05,1775.601674,3.325719,2.244014,40.626825,-74.023644,439.355833
std,1.041253e+09,403.126920,7.334669e+05,953.815958,0.976888,0.900611,0.074593,0.149571,83.822681
min,3.000027e+09,0.000000,5.000000e+04,1.000000,0.000000,0.500000,40.498635,-74.255292,101.000000
25%,3.512309e+09,93.000000,5.299000e+05,1252.000000,3.000000,1.500000,40.572979,-74.146174,407.000000
50%,4.035207e+09,140.000000,6.690000e+05,1560.000000,3.000000,2.000000,40.613311,-74.088939,501.000000
75%,4.554369e+09,227.000000,8.580000e+05,2042.000000,4.000000,2.500000,40.663975,-73.902507,502.000000
max,9.999738e+09,3579.000000,6.100000e+07,40100.000000,36.000000,13.500000,40.911670,-73.701278,503.000000

In [8]:
new_york_selling = pd.read_csv('data/cleaned/new_york_selling_cleaned.csv')
new_york_selling.head()

,data_source,id,post_link,list_date,sold_date,days_until_sold,price,address,status,area,bedrooms,bathrooms,latitude,longitude,community_area
0,https://www.realtor.com/,3243883955,https://www.realtor.com/realestateandhomes-det...,2023-12-04,Not sold yet,Not sold yet,260000,"620 Sinclair Ave, Staten Island, Ny 10312",FOR_SALE,2015.0,4,2.0,40.541781,-74.196109,503
1,https://www.realtor.com/,3974591407,https://www.realtor.com/realestateandhomes-det...,2024-03-20,Not sold yet,Not sold yet,99000,"77 City Blvd, Staten Island, Ny 10301",FOR_SALE,1176.0,3,1.0,40.628757,-74.104166,501
2,https://www.realtor.com/,3536803586,https://www.realtor.com/realestateandhomes-det...,2023-11-21,Not sold yet,Not sold yet,250000,"240-05 147 Ave, Rosedale, Ny 11422",FOR_SALE,2304.0,4,2.0,40.657539,-73.743602,413
3,https://www.realtor.com/,3767233034,https://www.realtor.com/realestateandhomes-det...,2024-05-24,Not sold yet,Not sold yet,899000,"182 Benedict Ave, Staten Island, Ny 10314",FOR_SALE,2352.0,4,5.0,40.622440,-74.128401,501
4,https://www.realtor.com/,3307596121,https://www.realtor.com/realestateandhomes-det...,2024-07-04,Not sold yet,Not sold yet,1698000,"363 Howard Ave, Staten Island, Ny 10301",FOR_SALE,3255.0,5,4.5,40.620764,-74.088340,501

In [9]:
new_york_selling.describe()

,id,price,area,bedrooms,bathrooms,latitude,longitude,community_area
count,3.097000e+03,3.097000e+03,3097.000000,3097.000000,3097.000000,3097.000000,3097.000000,3097.000000
mean,4.372409e+09,1.184898e+06,1977.222796,3.512754,2.416532,40.646421,-73.983837,401.349693
std,1.471530e+09,2.025924e+06,1652.759354,1.429631,1.162878,0.085103,0.144732,102.284955
min,3.002610e+09,4.900000e+04,406.000000,0.000000,0.500000,40.499531,-74.252736,101.000000
25%,3.536804e+09,6.690000e+05,1260.000000,3.000000,1.500000,40.589290,-74.119291,316.000000
50%,4.086332e+09,8.250000e+05,1600.000000,3.000000,2.000000,40.621681,-73.967745,411.000000
75%,4.630322e+09,1.199000e+06,2185.000000,4.000000,3.000000,40.693078,-73.858982,502.000000
max,9.994078e+09,5.500000e+07,49520.000000,32.000000,16.500000,40.911327,-73.702844,503.000000

In [10]:
chicago_sold = pd.read_csv('data/cleaned/chicago_sold_cleaned.csv')
chicago_sold.head()

,data_source,id,post_link,list_date,sold_date,days_until_sold,price,address,status,area,bedrooms,bathrooms,latitude,longitude,community_area
0,https://www.realtor.com/,7638203850,https://www.realtor.com/realestateandhomes-det...,2024-05-30,2024-07-03,34.0,250000.0,"10330 S Whipple St, Chicago, Il 60655",SOLD,926.0,2.0,1.0,41.705251,-87.698129,MOUNT GREENWOOD
1,https://www.realtor.com/,7712196342,https://www.realtor.com/realestateandhomes-det...,2024-05-06,2024-07-03,58.0,149999.0,"455 W 126Th Pl, Chicago, Il 60628",SOLD,973.0,2.0,1.0,41.663994,-87.633883,WEST PULLMAN
2,https://www.realtor.com/,9484646484,https://www.realtor.com/realestateandhomes-det...,2024-05-30,2024-07-03,34.0,950000.0,"3915 N Monticello Ave, Chicago, Il 60618",SOLD,3200.0,3.0,3.5,41.952424,-87.718648,IRVING PARK
3,https://www.realtor.com/,7259996874,https://www.realtor.com/realestateandhomes-det...,2024-03-13,2024-07-03,112.0,155000.0,"9425 S Eberhart Ave, Chicago, Il 60619",SOLD,1674.0,4.0,3.0,41.722997,-87.611406,ROSELAND
4,https://www.realtor.com/,8692627061,https://www.realtor.com/realestateandhomes-det...,2024-04-30,2024-07-03,64.0,1450000.0,"1457 W Byron St, Chicago, Il 60613",SOLD,3300.0,3.0,3.5,41.952312,-87.666381,LAKE VIEW

In [11]:
chicago_sold.describe()

,id,days_until_sold,price,area,bedrooms,bathrooms,latitude,longitude
count,4.652700e+04,46527.000000,4.652700e+04,46527.000000,46527.000000,46527.000000,46527.000000,46527.000000
mean,8.027060e+09,123.069293,3.690528e+05,1866.124960,3.527715,2.240086,41.834749,-87.699993
std,6.146554e+08,192.691745,3.845166e+05,1018.447524,0.994634,1.698917,0.107504,0.071000
min,7.000011e+09,0.000000,1.000000e+00,1.000000,0.000000,0.500000,41.644935,-87.846179
25%,7.510121e+09,51.000000,1.800000e+05,1152.000000,3.000000,1.500000,41.741240,-87.759152
50%,8.003431e+09,81.000000,2.700000e+05,1520.000000,3.000000,2.000000,41.798710,-87.701603
75%,8.528771e+09,140.000000,3.999000e+05,2250.000000,4.000000,3.000000,41.942070,-87.650380
max,9.999918e+09,3396.000000,8.800000e+06,30000.000000,14.000000,312.500000,42.022638,-87.524890

In [12]:
chicago_selling = pd.read_csv('data/cleaned/chicago_selling_cleaned.csv')
chicago_selling.head()

,data_source,id,post_link,list_date,sold_date,days_until_sold,price,address,status,area,bedrooms,bathrooms,latitude,longitude,community_area
0,https://www.realtor.com/,7109976785,https://www.realtor.com/realestateandhomes-det...,2024-04-18,Not sold yet,Not sold yet,215000.0,"9906 S Seeley Ave, Chicago, Il 60643",FOR_SALE,1567.0,3,2.0,41.713489,-87.673732,BEVERLY
1,https://www.realtor.com/,8027933003,https://www.realtor.com/realestateandhomes-det...,2024-07-03,Not sold yet,Not sold yet,79000.0,"11549 S Church St, Chicago, Il 60643",FOR_SALE,1386.0,4,2.0,41.683247,-87.669495,MORGAN PARK
2,https://www.realtor.com/,8854936353,https://www.realtor.com/realestateandhomes-det...,2024-07-04,Not sold yet,Not sold yet,1200000.0,"3015 N Racine Ave, Chicago, Il 60657",FOR_SALE,3100.0,4,4.0,41.936740,-87.658509,LAKE VIEW
3,https://www.realtor.com/,7106444683,https://www.realtor.com/realestateandhomes-det...,2024-07-04,Not sold yet,Not sold yet,1075000.0,"1316 N Campbell Ave, Chicago, Il 60622",FOR_SALE,3976.0,3,3.5,41.905352,-87.689905,WEST TOWN
4,https://www.realtor.com/,7617958997,https://www.realtor.com/realestateandhomes-det...,2024-07-04,Not sold yet,Not sold yet,350000.0,"9737 S Claremont Ave, Chicago, Il 60643",FOR_SALE,20000.0,2,1.0,41.716163,-87.680356,BEVERLY

In [13]:
chicago_selling.describe()

,id,price,area,bedrooms,bathrooms,latitude,longitude
count,2.573000e+03,2.573000e+03,2573.000000,2573.00000,2573.000000,2573.000000,2573.000000
mean,8.085918e+09,4.923443e+05,2068.432958,3.48115,2.350175,41.821763,-87.677329
std,6.561234e+08,6.089117e+05,1267.652899,1.06118,1.026759,0.102944,0.068881
min,7.000059e+09,1.250000e+03,525.000000,1.00000,1.000000,41.646698,-87.843061
25%,7.548772e+09,2.225000e+05,1200.000000,3.00000,2.000000,41.737481,-87.728541
50%,8.062846e+09,3.150000e+05,1700.000000,3.00000,2.000000,41.787693,-87.669776
75%,8.599979e+09,4.997700e+05,2500.000000,4.00000,3.000000,41.922565,-87.627220
max,9.998534e+09,8.500000e+06,20000.000000,12.00000,11.000000,42.019140,-87.525467